body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para la superposición (overlay) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* Fondo negro opaco */
  color: white;
  z-index: 9999; /* Asegura que esté por encima de todo */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

}

.overlay-content h1 {
  font-size: 2em;
  margin-bottom: 1em;
  
}

.overlay-content p {
  font-size: 1.2em;
  line-height: 1.6;
  padding-right: 2em ;
  width: 900px;
  
}

/* Contenido de la página principal */



.container_father{
  display: flex;
  margin: 3em;

  height: 80vh;
  padding-top: 2em;

  
}

.col1{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.col2{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title_container img{
  width: 400px;
  aspect-ratio: 2/1;
  object-fit: cover;
  justify-content: center;
  z-index: 2;
  
}
.select_container{
  display: flex;
  justify-content: center;
  width: 60%;
}
.select_container2{
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 2em;
}

select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 100%;
 
 
  padding: 1rem 4rem 1rem 1rem;
  background: #f2f2f2d5;
  color: #121822;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);
  }
}

/* btn  sortear */
.btn_sortear_container{
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: center;

}


.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1.2em;
  height: 50px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  padding-top: 1 em;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 60%;
  z-index: 2;
  border: 0;
  transition: box-shadow .2s;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

/*Imagen de esfera*/
.esfera_container img{
  margin-top: 1em;
  width: 350px;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  z-index: 2 !important;
  position: relative;
  display: block;
 
  
}

/*************************************/
/*col2 */
.logos_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.logos_container img{
  margin-top: 1em ;
  width: 90%;
  object-fit: cover;
}
.tittle_premio{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  color: white;
  font-size: 1.2em;
  background-color: #121822;
  border-radius: 16px;
}

.ganadores_container{
  background-color: #f9f9f9;
  border-radius: 16px;
  max-height: 300px;
  margin-top: 2em;
  overflow-y: auto; /* Habilitar scroll vertical */
  overflow-x: hidden; /* Ocultar scroll horizontal */
  scroll-behavior: smooth; /* Desplazamiento suave */
  z-index: 2;
  padding: 1em 2em;
  opacity: 0.9;

}
/* Personalización del scroll */
.ganadores_container::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de scroll */
}

.ganadores_container::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4); /* Color del "pulgar" de la barra */
  border-radius: 10px; /* Bordes redondeados */
}

.ganadores_container::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.6); /* Cambio de color al hover */
}

.ganadores_container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Fondo de la barra */
  border-radius: 10px;
}








.footer {
  background-image: url('/footer.png'); 
  position: fixed;
  margin-left: -7px;
  bottom: 0;
  width: 100%;
  height: 200px; 
  background-repeat: no-repeat;
  background-size: cover; 
  z-index: 1;
}

.animate__swing {
  --animate-duration: 1.8s; /* Cambia la duración de la animación */
}

.animate__bounce{
  z-index: 2;
  --animate-duration: 3s; 
}



